[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
etsy-py = "*"
"psycopg2" = "*"
gunicorn = "*"
pyOpenSSL = "*"
WooCommerce = "*"
Flask = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-WTF = "*"
"flake8" = "*"
flask-bootstrap = "*"
python-wordpress-xmlrpc = "*"

[dev-packages]

[requires]
python_version = "3.6"
